<h1>Menu</h1>

<h2>Drinks</h2>
<ul>
  <li>Coffee: $3</li>
  <li>Tea: $3</li>
  <li>Milkshake: $6</li>
  <li>Fresh Juice: $6</li>
</ul>
<h2>Food</h2>
<ul>
  <li>Muffin: $3</li>
  <li>Toastie: $3</li>
</ul>
